<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Company NAME</title>
    
    <%= csrf_meta_tags %>  
    <%= include_gon %>
    <%= javascript_include_tag "application" %> 
    <%= javascript_include_tag "locales/#{I18n.locale}" %> 
    <%= render 'shared/html5' %> 
    <%= render 'shared/meta' %> 
    
    <%= stylesheet_link_tag "style.css", media: "all" %>
    <%= stylesheet_link_tag "font-awesome.min.css", media: "all" %>
    <%= stylesheet_link_tag "bootstrap.min.css", media: "all" %>
    
</head>
<body>
    <%= yield %>      
</body>
</html>